#invoices-table {
	.invoice-button-container {
		button{
			width: 100%;
			min-height: 50px;
			background-color: #EE3AF3;
			color: white;
			font-weight: 600;
		}
	}

	.pink-square-holder {
		svg {
			color: #EE3AF3;
		}
	}
}
